<!-- Main navbar -->
<div class="navbar navbar-default navbar-fixed-top header-highlight">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="img/logo.png" alt=""></a>

    <ul class="nav navbar-nav visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
    </ul>
  </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container navbar-top">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-fixed">
      <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
              <li data-for-states="dashboard"><a ui-sref="dashboard"><i class="icon-grid"></i><span>Dashboard</span></a></li>
              <li data-for-states="rps"><a ui-sref="rps"><i class="icon-server"></i><span>RPS</span></a></li>
              <li data-for-states="containers"><a ui-sref="containers"><i class="icon-cube4"></i><span>Containers</span></a></li>
            </ul>
          </div>
        </div>
        <!-- /main navigation -->

      </div>
    </div>
    <!-- /main sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content">

        <div ui-view="main"></div>

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
